{% extends "base.html" %}
{% load static %}


{% block main %}
<div id="getStatement" class="row wave fadeIn">
  <div class="col">
    <div class="card">
      <div class="card-body">

        <div class="form-group">
          <label for="input" >Month</label>
          <input type="text" v-model="month_year" id="input" class="form-control monthpicker" placeholder="MM/YYYY" style="">
        </div>

        <div class="form-group">
          <label for="select">Bank</label>
          <div>
            <select v-model="bank" class="browser-default custom-select mb-4 initialized" id="select">
              <option value="ibmandiri" disabled selected>Mandiri (OLD)</option>
            </select>
          </div>
        </div>


        <button v-on:click="getStatement" v-bind:disabled="loading" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" >Get Statement <span v-show="loading"> <i class="fas fa-spinner fa-spin"></i>
        </span>
        </button>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/jquery.ui.monthpicker.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  $(document).ready(() => {

    var app = new Vue({
      el: "#getStatement",
      data: {
        "bank": "ibmandiri",
        "month_year": "09/2019",
        "loading": false,
        status: null,
        interval: null,
        taskId: null,
      },
      watch: {
        loading: function(newState, prevState){
          if(newState && !prevState){
            // from false to true
            this.checkCrawlStatus()
          }
        },
        status: function(newState, prefState){
          if (newState && newState.toLowerCase() === "finished"){
            clearInterval(this.interval)
            this.loading = false;
          }
        }
      },
      methods: {
        onDateChange: function(e){
          console.log(e.target.value)
        },
        checkCrawlStatus: function(){
          this.interval = setInterval(() => {
            if (this.taskId){
              var url = "{% url 'statements:crawl' %}?task_id=" + this.taskId ;
              $.get(url).done((data) => {
                this.status = data.status
              })
            }
          }, 500);
        },

        getStatement: function(){
          var url = "{% url 'statements:crawl' %}";
          var data = {
            month_year: this.month_year,
            bank_code: this.bank
          }
          this.loading = true;
          that = this;
          $.post(url, data).
            done((data) => {
              this.taskId = data.task_id
            }).
            fail((err) => {
              this.loading = false;
              clearInterval(this.interval)
            })
        }
      },
    })


  })
</script>
{% endblock %}
